<h2>Welcome {{ name }}</h2>
<!-- {{it is a concept of interpolation }} asking angular content in curly bracket and evaluate in browsers-->

<h2>{{ 2 + 2 }}</h2>
<!-- evalute value -->
<h2>{{ "welcome  and hello " + name }}</h2>
<!-- con.  -->

<h2>{{ name.length }}</h2>
<h2>{{ name.toUpperCase() }}</h2>

<h2>{{ greetUser() }}</h2>
<!-- calling methods in html -->
<h2>{{ siteUrl }}</h2>

<!-- these are the things we can so in interpolaltion  -->

<!-- <h2>{{a=2+2}}</h2> -->
<!-- we cant asign variable in curly  -->
<!-- <h2>{{ window.location.href }}</h2> -->
<!--  template is not aware of global js -->
<!-- 
we learn  we can bind data from class to template
{{}}
sting con
property  -->
